<div class="grid blocks two-up">
  <div class="grid__item large--one-half">
    <a href="{{ settings.hero_link_top_1 }}">
      <img src="{{ 'hero_image_top_1.jpg' | asset_url }}" alt="{{ settings.hero_title_top_1 }}"/>
    </a>
  </div>

  <div class="grid__item large--one-half">
    <a href="{{ settings.hero_link_top_2 }}">
      <img src="{{ 'hero_image_top_2.jpg' | asset_url }}" alt="{{ settings.hero_title_top_2 }}"/>
    </a>
  </div>  
</div>

<div class="grid blocks two-up">
  <div class="grid__item large--one-whole">
    <a href="{{ settings.hero_link_top_3 }}">
      <img src="{{ 'hero_image_top_3.jpg' | asset_url }}" alt="{{ settings.hero_title_top_3 }}"/>
    </a>
  </div> 
</div>