{% include 'sca_freegift_price' with product %}
<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium--one-half small--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if sca_compare_at_price > sca_price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if sca_product_available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item product-grid {{ grid_item_width }}">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
<div class="reveal">
    <a href="{{ product.url | within: collection }}">
        <img src="{{ product.images[0] | img_url: 'large' }}" alt="{{ product.images[0].alt | escape }}" class="grid__image">
        <div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "Free Gift", "sca-fg-img-collect" }} </div>
        <div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ product.id }}" prod-show='list'> </div>
        <div class="hidden">
          <img src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" class="grid__image"/>
        </div><!-- end of .hidden -->
    </a>
</div><!-- end of .reveal -->




  <p class="h6 text-center product-title">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
  <p class="text-center">
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'sca_price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
      {% if sca_price_varies %}
        {% assign sale_price = sca_price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'products.product.on_sale' | t }}</strong>
        {{ sca_price | money }}
      {% endif %}
    {% else %}
      {% if sca_price_varies %}
        {% assign price = sca_price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
        {{ sca_price | money }}
      {% endif %}
    {% endif %}
    {% if sold_out %}
      <br><strong>{{ 'products.product.sold_out' | t }}</strong>
    {% endif %}
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
      <br><s>{{ sca_compare_at_price | money }}</s>
    {% endif %}
    {% if product.options contains 'Color' %}
      <br><a id="more-colors" href="{{ product.url | within: collection }}">more colors +</a>
    {% endif %}

<!-- Smart Wishlist begin -->
<span class="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></span>
<!-- Smart Wishlist end -->
  </p>

</div>
