{% comment %}
Smart e-commerce App (SEA Inc)
http://www.secomapp.com
-----------------------------
This snippet provides the default templates for Freegifts app showing Gift Slider on Cart page/popup.
It also have the script codes need for the app running, please do not reuse or edit those codes if doesn't
have permission of us.
{% endcomment %}

<script id="sca_fg_cart_ShowGiftAsProductTemplate" type="text/template">
  {%raw%}
  <div class="item not-sca-qv" id="sca-freegift-{{productID}}">
    <a class="close_box" style="display: none;position: absolute;top:5px;right: 10px;font-size: 22px;font-weight: bold;cursor: pointer;text-decoration:none;color: #aaa;">×</a>
    <img src="{{productImageURL}}">
    <div class="sca-product-shop">
      <div class="f-fix"><span class="sca-product-title" style="color:#000;{{showfgTitle}}">{{productTitle}}</span>
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <div id="product-variants-{{productID}}">
            <div class="sca-price" id="price-field-{{productID}}">
              <span class="sca-old-price">{{variant_compare_at_price}}</span>
              <span class="sca-special-price">{{variant_price}}</span>
            </div>
            <div id="stay-content-sca-freegift-{{productID}}" class="sca-fg-cart-item">
              <a class="close_box" style="display: none;position: absolute;top:5px;right: 10px;font-size: 22px;font-weight: bold;cursor: pointer;text-decoration:none;color: #aaa;">×</a>
              <select id="product-select-{{productID}}" name="id" style="display: none">
                {{optionVariantData}}
              </select>
            </div>
          </div>
          <button type='button' id="sca-btn-select-{{productID}}" class="sca-button" onclick="onclickSelect_{{productID}}();"><span>{{SelectButton}}</span></button>
          <button type='button' id="sca-btn-{{productID}}" class="sca-button" style="display: none"><span>{{AddToCartButton}}</span></button>
        </form>
      </div>
    </div>
  </div>
  {%endraw%}
</script>
<script id = "sca_fg_cart_ShowGiftAsProductScriptTemplate" type="text/template">
  {%raw%}
  var selectCallback_{{productID}}=function(a,b){if(a?(a.available?($("#sca-btn-{{productID}}").removeClass("disabled").removeAttr("disabled").html("<span>{{AddToCartButton}}</span>").fadeTo(200,1),$("#sca-btn-{{productID}}").unbind("click"),$("#sca-btn-{{productID}}").click($.proxy(function(){SECOMAPP.addGiftToCart(a.id,1)},a))):$("#sca-btn-{{productID}}").html("<span>{{UnavailableButton}}</span>").addClass("disabled").attr("disabled","disabled").fadeTo(200,.5),a.compare_at_price>a.price?$("#price-field-{{productID}}").html("<span class='sca-old-price'>"+SECOMAPP.formatMoney(a.compare_at_price,"")+"</span>&nbsp;<s class='sca-special-price'>"+Shopify.formatMoney(a.price,"")+"</s>"):$("#price-field-{{productID}}").html("<span class='product-price'>"+SECOMAPP.formatMoney(a.price,"")+"</span>")):$("#sca-btn-{{productID}}").html("<span>{{UnavailableButton}}</span>").addClass("disabled").attr("disabled","disabled").fadeTo(200,.5),a&&a.featured_image){var c=$("#sca-freegift-{{productID}} img"),d=a.featured_image,e=c[0];Shopify.Image.switchImage(d,e,function(a,b,c){$(c).parents("a").attr("href",a),$(c).attr("src",a)})}},onclickSelect_{{productID}}=function(){$.getJSON("/products/{{productHandle}}.js",function(a){var b=[];$.each(a.options,function(a,c){b[a]=c.name}),a.options=b;for(var c={{variantsGiftList}},d={{mainVariantsList}},e=a.variants.length-1;e>-1;e--)c.indexOf(a.variants[e].id)<0&&d.indexOf(a.variants[e].id)<0&&a.variants.splice(e,1);for(var f=d.length-1;f>-1;f--){for(var g=c[f],h=d[f],i=0,j=0,e=a.variants.length-1;e>-1;e--)a.variants[e].id==g?i=e:a.variants[e].id==h&&(j=e);a.variants[i].option1=a.variants[j].option1,a.variants[i].options[0].name=a.variants[j].options[0].name,a.variants[i].options[1]&&(a.variants[i].options[1].name=a.variants[j].options[1].name,a.variants[i].option2=a.variants[j].option2),a.variants[i].options[2]&&(a.variants[i].options[2].name=a.variants[j].options[2].name,a.variants[i].option3=a.variants[j].option3),a.variants[i].title=a.variants[j].title,a.variants.splice(j,1)}$("#sca-btn-select-{{productID}}").hide(),$("#product-select-{{productID}}").show(),$("#sca-btn-{{productID}}").show(),$("#stay-content-sca-freegift-{{productID}} .close_box").show(),$("#stay-content-sca-freegift-{{productID}} .close_box").click(function(){$("#stay-content-sca-freegift-{{productID}}").hide(),$("#sca-btn-{{productID}}").hide(),$("#sca-btn-select-{{productID}}").show()}),new Shopify.OptionSelectors("product-select-{{productID}}",{product:a,onVariantSelected:selectCallback_{{productID}},enableHistoryState:!0}),1==a.variants.length&&-1!==a.variants[0].title.indexOf("Default")?jQuery("#sca-freegift-{{productID}} .selector-wrapper").hide():($("#stay-content-sca-freegift-{{productID}}").show(),$("#stay-content-sca-freegift-{{productID}}").focus()),onclickSelect_{{productID}}=function(){$("#stay-content-sca-freegift-{{productID}}").show(),$("#sca-btn-{{productID}}").show(),$("#sca-btn-select-{{productID}}").hide()}})};
  {%endraw%}
</script>

<script id="sca_fg_cart_ShowGiftAsVariantTemplate" type="text/template">
  {%raw%}
  <div class="item not-sca-qv" id="sca-freegift-{{variantID}}">
    <img src="{{variantImageURL}}">
    <div class="sca-product-shop">
      <div class="f-fix">
        <span class="sca-product-title" style="color:#000;">{{variantTitle}}</span>
        <div class="sca-price">
          <span class="sca-old-price">{{variant_compare_at_price}}</span>
          <span class="sca-special-price">{{variant_price}}</span>
        </div>
        <button type="button" id="sca-btn{{variantID}}" class="sca-button" onclick="SECOMAPP.addGiftToCart({{variantID}},1);">
          <span>{{AddToCartButton}}</span>
        </button>
      </div>
    </div>
  </div>
  {%endraw%}
</script>

<script id="sca_fg_cart_GiftSliderPopupTemplate" type="text/template">
  {%raw%}
  <div id='freegift_popup' class='mfp-hide'>
    <div id='freegift_cart_container' class='sca-fg-cart-container' style='display: none;'>
      <div id='freegift_message' class='owl-carousel'>
      </div>
    </div>
    <div id='sca-fg-slider-cart' style='display: none;'>
      <div class='sca-fg-cart-title'>
        <strong>{{PopupTitle}}</strong>
      </div>
      <div id='sca_freegift_list' class='owl-carousel'>
      </div>
    </div>
  </div>
  {%endraw%}
</script>

<script id="sca_fg_prod_GiftList" type="text/template">
  {%raw%}
  <a id ="{{giftShowID}}" class="product-image freegif-product-image freegift-info-{{giftShowID}}"
     title="{{giftTitle}}" href="/products/{{productsHandle}}">
    <img class="not-sca-qv" src="{{giftImgUrl}}" alt="{{giftTitle}}" />
  </a>
  {%endraw%}
</script>

<script id="sca_fg_prod_Gift_PopupDetail" type="text/template">
  {%raw%}
  <div class="sca-fg-item fg-info-{{giftShowID}}" style="display:none;z-index:2147483647;">
    <div class="sca-fg-item-options">
      <div class="sca-fg-item-option-title">
        <em>{{freegiftRuleName}}</em>
      </div>
      <div class="sca-fg-item-option-ct">
        <!--        <div class="sca-fg-image-item">
                        <img src="{{giftImgUrl}}" /> -->
        <div class="sca-fg-item-name">
          <a href="#">{{giftTitle}}</a>
        </div>
        <!--        </div> -->
      </div>
    </div>
  </div>
  {%endraw%}
</script>

<script id="sca_fg_ajax_GiftListPopup" type="text/template">
  {%raw%}
  <div id="freegift_popup" class="mfp-hide">
    <div id="freegift_cart_container" class="sca-fg-cart-container" style="display: none;">
      <div id="freegift_message" class="owl-carousel"></div>
    </div>
    <div id="sca-fg-slider-cart" style="display: none;">
      <div class="sca-fg-cart-title">
        <strong>{{popupTitle}}</strong>
      </div>
      <div id="sca_freegift_list" class="owl-carousel"></div>
    </div>
  </div>
  {%endraw%}
</script>

{% comment %}
========================================
||  DO NOT EDIT THE CODES BELLOW !!!  ||
========================================
{% endcomment %}

{{ 'sca.freegift.css' | asset_url | stylesheet_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
    Shopify.money_format = {{ shop.money_format | json }};
</script>
{% include 'sca.freegifts.status'%}
