<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
{% include 'limespot' %}
<meta name="msvalidate.01" content="21644BC0817B290FE408E78624EF720A" />
	<meta charset="utf-8">
  <meta name="google-site-verification" content="LwtMxFwVUHuIzmlOjg7UYw0ZkdDwZDFeYwbXut_9rqE" />

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"> </script>
	<![endif]-->

	<title>
		{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} – {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} – {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}
	</title>

	<script type="text/javascript">
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>

	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% if template contains 'product' %}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	{% else %}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endif %}

	{% include 'social-meta-tags' %}

	<link rel="canonical" href="{{ canonical_url }}" />

	<!-- CSS -->
	{{ 'plugins.css' | asset_url | stylesheet_tag }}
	{{ 'style.scss.css' | asset_url | stylesheet_tag }}
	{{ 'style-main.min.css' | asset_url | stylesheet_tag }}

	{% include 'font-links' %}

	{% if settings.favicon != blank %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

	{{ content_for_header }}
{{ 'bold-brain-widget.css' | asset_url | stylesheet_tag }}


  {% include 'bold-common' %}


	{% if template contains 'customers' %}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }}
		{{ "customer_area.js" | shopify_asset_url | script_tag }}
	{% endif %}

{% comment %} if template conditional statement added by Smart Wishlist {% endcomment %}
{% if template %}
	{{ 'jquery-1.11.0.min.js' | asset_url | script_tag }}
{% else %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
{% endif %}

	{{ 'plugins.js' | asset_url | script_tag }}

{% comment %} if template conditional statement added by Smart Wishlist {% endcomment %}
{% if template %}
	{{ 'custom.js' | asset_url | script_tag }}
{% endif %}

	{{ 'sections.js' | asset_url | script_tag }}


  {{ 'shopstorm-apps.scss.css' | asset_url | stylesheet_tag }}
  {% include 'shopstorm-scripttags' %}
  <!-- START Yotpo JS Library -->
  <script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/INZVWr50bc1HjrR1H0TQXwjj1V8vfzYIcZP3kZ2L/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
  <!-- END Yotpo JS Library -->
{% include 'sca.freegifts' %}


<!-- SHARE A SALE -->
  <script>var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");</script>
  {% include 'wsg-header' %}


<!-- Begin Pinterest Tag -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
n=window.pintrk;n.queue=[],n.version="3.0";var
t=document.createElement("script");t.async=!0,t.src=e;var
r=document.getElementsByTagName("script")[0];
r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2614325009265', { em: '{{ email }}',});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
src="https://ct.pinterest.com/v3/?tid=2614325009265&noscript=1" />
</noscript>

</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} flexbox-wrapper">

    {% if settings.cart-type == 'drawer' and customer.tags == blank %}
	{% include 'cart-drawer' %}
    {% endif %}

	<div id="main-body">

		<div id="slideout-overlay"> </div>

		{% section 'announcement-bar' %}
		{% section 'header' %}
    {% section 'text-adverts' %}

		<div id="main" role="main">

			{% unless template == "index" or template == "collection" %}
				<div class="container">
			{% endunless %}

			{{ content_for_layout }}
<limespot></limespot>

			{% unless template == "index" or template == "collection" %}
				</div>
			{% endunless %}

			{% if template == "product" %}
				{% section 'logo-bar' %}
				{% section 'product-template-reviews' %}
				{% section 'product-template-bottom' %}

			{% endif %}

		</div>

		{% section 'footer' %}
		{% include 'homepage-scripts' %}

	</div>

	{% include 'popup' %}

	{% if settings.show_multiple_currencies %}
		{% include 'currencies' %}
	{% endif %}

	<script>
		// Translations that will be used in javascript section handling
		window.theme = {
        strings: {
            addToCart: {{ 'products.product.add_to_cart' | t | json }},
            added: {{ 'products.product.added' | t | json }},
            soldOut: {{ 'products.product.sold_out' | t | json }},
            unavailable: {{ 'products.product.unavailable' | t | json }},
            showMore: {{ 'general.filters.show_more' | t | json }},
            showLess: {{ 'general.filters.show_less' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
    };
	</script>

{% comment %} Conditional statement  added by Smart Wishlist to fix search issue on Wishlist page on June 13, 2018 {% endcomment %}
{% unless template %}
<script>
  $(document).ready(function(){

      $(".search-show").off('click').on('click', function(){
          $("#top-search-wrapper").toggleClass('expanded');
          $("#top-search-wrapper #search_text").focus();
      });

      if($(window).width() < 767){
          $('.mobile-menu-close').trigger('click');
      }
  });

</script>
{% endunless %}
{%- include 'bold-currency-converter' -%}

<!-- MAILCHIMP POPUP
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"> </script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us5.list-manage.com","uuid":"00ea1e3e19b1ab6274800f1a6","lid":"ee53787418","uniqueMethods":true}) })</script>
-->

<!-- BEACON SCRIPT CODE -->
<script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
<script type="text/javascript">window.Beacon('init', '22bbf8bc-e427-40b3-ad14-22b3d91f0d62')</script>


<!-- KLAVIYO SCRIPT CODE -->
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "LeTLiC",
	  list: 'PLufL5',
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{
    trigger: {
      product_page_text: "Get on the Waitlist",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "Missed out?",
     body_content: "Enter your email below and we'll let you know when this item is available for purchase.",
     email_field_label: "Email",
	 newsletter_subscribe_label: "Sign up for new arrivals and promotions.",
     button_label: "GET ON THE WAITLIST",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: "You'll receive a one time email when this item is available for ordering. Your address will not be shared with anyone else.",
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');",
	 font_family: "font-family: 'Raleway', sans-serif;",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#000",
     button_background_color: "#e5dad2",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>


</body>

</html>
