{% case section.blocks.size %}
{% when 1 %}
	{% assign footer_item_width = 'col-md-12 col-sm-12' %}
{% when 2 %}
	{% assign footer_item_width = 'col-md-6 col-sm-6' %}
{% when 3 %}
	{% assign footer_item_width = 'col-md-4 col-sm-4' %}
{% when 4 %}
	{% assign footer_item_width = 'col-md-3 col-sm-6' %}
{% endcase %}

<footer>
	<div class="container">
		<div class="row">

			{% for block in section.blocks %}

				{% case block.type %}

					{% when 'menu' %}

						{%- assign footer_linklist = block.settings.footer_linklist -%}
						{% if linklists[footer_linklist].links.size > 0 %}
							<div class="{{ footer_item_width }} links-footer">
								<h3>{{ block.settings.menu_title | escape }}</h3>
								<ul>
									{% for link in linklists[footer_linklist].links %}
										<li {% if link.object.tags and link.object.tags.size > 0 %} class="children"{% endif %}>
											<a href="{{link.url}}">{{link.title}}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}

					{% when 'text' %}

						<div class="{{ footer_item_width }} content-footer">
							<h3>{{ block.settings.title | escape }}</h3>
							<div class="rte footer-article">{{ block.settings.richtext }}</div>
						</div>

					{% when 'social' %}

						<div class="{{ footer_item_width }} mailing-list-footer">
							<h3>{{ 'general.newsletter_form.header' | t }}</h3>
							{% if block.settings.footer_newsletter_description != empty %}
								<div class="rte">{{ block.settings.footer_newsletter_description }}</div>
							{% endif %}

							{% include 'newsletter-form' %}

							<h3>{{ 'layout.footer.social_title' | t }}</h3>
							<div id="footer-right">
								{% include 'social-links' %}
							</div>
						</div>
					{% when 'content' %}

						<div class="{{ footer_item_width }}">
							<h3>{{ 'layout.footer.accepted_payments' | t }}</h3>
							{% unless shop.enabled_payment_types == empty %}
								<div id="footer-payment-methods">
									{% for type in shop.enabled_payment_types %}
									  <img src="{{ type | payment_type_img_url }}" />
									{% endfor %}

								</div>
							{% endunless %}
						</div>

				{% endcase %}

			{% endfor %}

		</div>
	</div>

	<div class="bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>
						<a href="/">&copy; {{ 'now' | date: '%Y' }} {{ shop.name | truncate: 14, "" }}</a> | <a href="/1714242/policies/702524.html" target="_blank">Privacy Policy</a> | <a href="/1714242/policies/702526.html" target="_blank">Terms of Service</a>
					</p>
				</div>

				{% if section.settings.show_methods_of_payment %}
				    {% unless shop.enabled_payment_types == empty %}
				    	<div class="col-md-6">
				        {% assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
					        <div id="footer-payment-methods">
					          {% for type in shop.enabled_payment_types %}
					            {% if payment_icons_available contains type %}
					              <img src="{{ type | payment_type_img_url }}" />
					            {% endif %}
					          {% endfor %}
					        </div>
				        </div>
				    {% endunless %}
				  {% endif %}
			</div>
		</div>
	</div>

</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_methods_of_payment",
      "label": "Payment icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Contact us"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Text",
					"default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Heading",
          "default": "Links"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
	  	"limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "footer_newsletter_description",
          "label": "Newsletter description"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social icons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Edit your social settings and accounts in General settings"
        }
      ]
    }
  ]
}
{% endschema %}
