<style>

  #main-navigation-wrapper{
    padding: {{ section.settings.menu_padding }}px 0;
  }

  {% case section.settings.logo-placement %}
    {% when 'below-header' %}
      #site-title{
      	padding: {{ section.settings.logo_padding }}px;
      }

      .currency-picker--wrapper .sod_select.custom::after{
        top: 6px;
      }

      .currency-picker--wrapper .sod_select.custom.custom{
        padding-top: 0;
        padding-bottom: 0;
      }

    {% when 'within-header' %}
      #site-title{
        padding: {{ section.settings.logo_padding }}px;
      }

    {% when 'left' %}
      #site-title{
        padding: {{ section.settings.logo_padding }}px 0;
      }

      .currency-picker--wrapper .sod_select.custom::after{
        top: 6px;
      }

      .currency-picker--wrapper .sod_select.custom.custom{
        padding-top: 0;
        padding-bottom: 0;
      }

  {% endcase %}

</style>

{% if settings.enable-article-results %}
    {% assign article_search = "article," %}
{% endif %}
{% if settings.enable-product-results %}
    {% assign product_search = "product," %}
{% endif %}
{% if settings.enable-page-results %}
    {% assign page_search = "page," %}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">

<nav id="menu" class="mobile-menu--wrapper slideout-panel-hidden">

  {% include 'nav-mobile' %}

	{% if settings.show_multiple_currencies %}
	<ul class="mobile-menu mobile-menu-child mobile-menu-hidden" id="mobile-menu-currency">
		<a href="#sidr" class="slide-menu sidr-close-icon mobile-menu-close"><i class="fa fa-times" aria-hidden="true"></i></a>
		<li>
			<a href="#" class="mobile-menu-back mobile-menu-link" data-link="mobile-menu--{{ root_list.handle }}">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
				<div class="mobile-menu-title">{{ 'layout.cart.currency' | t }}</div>
			</a>
		</li>
		{% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
		{% assign supported_codes = settings.supported_currencies | split: ' ' %}
		<li>
			{% for code in supported_codes %}
				{% if codes contains code %}
					<a href="#" class="mobile-menu-currency-link{% if code == shop.currency %} mobile-menu-currency-selected{% endif %}" data-code="{{ code }}">
						{{ code }}
					</a>
				{% endif %}
			{% endfor %}
		</li>
	</ul>
	{% endif %}
</nav>


{% if section.settings.social-enable %}
<div class="container visible-xs mobile-social-icons">
  <div class="row">

    <div class="mobile-social-icons-list">
      {% include 'social-links' %}
    </div>

  </div>
</div>
{% endif %}

<div class="container visible-xs mobile-header-wrap">
	<div class="row mobile-header--wrapper">
		<div class="col-xs-2 mobile-header-wrap--icons">
			<a href="#menu" class="slide-menu slide-menu-mobile">
				<i id="iconAnim" class="fa fa-bars fa-2x"></i>
			</a>
		</div>

		<div class="col-xs-8 mobile-header-wrap--icons">
			<div class="site-header__logo h1" id="site-title" itemscope itemtype="http://schema.org/Organization">
				  {% if section.settings.logo %}
				    <a href="/" itemprop="url" class="site-header__logo-image">
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo">
				    </a>
				  {% else %}
				    <a class="site-header__logo-link custom-font" href="/" itemprop="url">{{ shop.name }}</a>
				  {% endif %}
			</div>
		</div>

		<div class="col-xs-2 mobile-header-wrap--icons mobile-header-right">
			<a href="/cart" class="slide-menu slide-menu-cart">
				<i class="fa fa-shopping-cart fa-2x"></i>
			</a>
		</div>
	</div>
</div>

<header id="site-header" class="clearfix custom-font hidden-xs">
  {% if section.settings.search-enable %}
    {% include 'search-bar' %}
  {% endif %}

  <div class="container-fluid">
    <div class="row row--table--desktop">

      {% case section.settings.logo-placement %}

        {% when 'below-header' %}

          {% if section.settings.top_bar_linklist != empty %}
            <div class="col-md-6 {% if section.settings.top_bar_linklist != empty %}col-sm-12{% else %}hidden-sm{% endif %}">
              <nav class="navbar" role="navigation" aria-label="Secondary">
                <div>
                  {% include 'site-nav' with section.settings.top_bar_linklist, class: 'navbar-nav' %}
                </div>
              </nav>
            </div>
          {% else %}
            {% if section.settings.social-enable %}
              <div class="col-md-6">
                <div class="header-social-links{% if section.settings.top_bar_linklist == empty %} header-social-links--left{% endif %}">
                  {% include 'social-links' %}
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if section.settings.top_bar_linklist != empty %}
            <div class="col-md-6 col-sm-12">
          {% else %}
            <div class="col-md-12 col-sm-12">
          {% endif %}

              <div id="cart-brief">

                {% if section.settings.top_bar_linklist != empty %}
                  {% if section.settings.social-enable %}
                    <div class="header-social-links">
                      {% include 'social-links' %}
                    </div>
                  {% endif %}
                {% endif %}

                <ul class="cart-link">
                  {% if settings.show_multiple_currencies %}
                    <li class="currency-picker--wrapper">
                      <select class="currency-picker" name="currencies" id="custom" style="visibility: hidden">
                      {% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
                      {% assign supported_codes = settings.supported_currencies | split: ' ' %}
                        <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                        {% for code in supported_codes %}
                          {% if code != shop.currency and codes contains code %}
                            <option value="{{ code }}">{{ code }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </li>
                  {% endif %}

                  {% if section.settings.search-enable %}
                    <li>
                      <a href="#" class="search-show{% if settings.show_multiple_currencies %} icon-no-padding{% endif %}" title="{{ 'layout.header.search_box_text' | t }}">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </li>
                  {% endif %}

                  {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                      <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                        <a href="/account" title="{{ 'customer.account.title' | t }}">
                          <i class="fa fa-user fa-2x"></i>
                        </a>
                      </li>
                    {% else %}
                      <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                        <a href="/account/login" title="{{ 'layout.customer.log_in' | t }}">
                          <i class="fa fa-user fa-2x"></i>
                        </a>
                      </li>
                    {% endif %}
                  {% endif %}

                  <li>
                    <a href="/cart" class="custom-font slide-menu slide-menu-cart" title="{{ 'layout.header.your_cart' | t }}">
                      <i class="fa fa-shopping-cart fa-2x"></i>
                      <span class="cart-item-count-header">{{ cart.item_count }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

        {% when 'left' %}

            {% if section.settings.top_bar_linklist != empty %}

              <div class="col-md-6 {% if section.settings.top_bar_linklist != empty %}col-sm-12{% else %}hidden-sm{% endif %}">
                <nav class="navbar" role="navigation" aria-label="Secondary">
                  <div>
                    {% include 'site-nav' with section.settings.top_bar_linklist, class: 'navbar-nav' %}
                  </div>
                </nav>
              </div>

            {% else %}

              {% if section.settings.social-enable %}

                <div class="col-md-6">
                  <div class="header-social-links{% if section.settings.top_bar_linklist == empty %} header-social-links--left{% endif %}">
                    {% include 'social-links' %}
                  </div>
                </div>

              {% endif %}

            {% endif %}

            {% if section.settings.top_bar_linklist != empty %}
              <div class="col-md-6 col-sm-12">
            {% else %}
              <div class="col-md-12 col-sm-12">
            {% endif %}

                <div id="cart-brief">

                  {% if section.settings.top_bar_linklist != empty %}
                    {% if section.settings.social-enable %}
                      <div class="header-social-links">
                        {% include 'social-links' %}
                      </div>
                    {% endif %}
                  {% endif %}

                  <ul class="cart-link">
                    {% if settings.show_multiple_currencies %}
                      <li class="currency-picker--wrapper">
                        <select class="currency-picker" name="currencies" id="custom" style="visibility: hidden">
                        {% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
                        {% assign supported_codes = settings.supported_currencies | split: ' ' %}
                          <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                          {% for code in supported_codes %}
                            {% if code != shop.currency and codes contains code %}
                              <option value="{{ code }}">{{ code }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </li>
                    {% endif %}

                    {% if section.settings.search-enable %}
                      <li>
                        <a href="#" class="search-show{% if settings.show_multiple_currencies %} icon-no-padding{% endif %}" title="{{ 'layout.header.search_box_text' | t }}">
                          <i class="fa fa-search fa-2x"></i>
                        </a>
                      </li>
                    {% endif %}

                    {% if shop.customer_accounts_enabled %}
                      {% if customer %}
                        <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                          <a href="/account" title="{{ 'customer.account.title' | t }}">
                            <i class="fa fa-user fa-2x"></i>
                          </a>
                        </li>
                      {% else %}
                        <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                          <a href="/account/login" title="{{ 'layout.customer.log_in' | t }}">
                            <i class="fa fa-user fa-2x"></i>
                          </a>
                        </li>
                      {% endif %}
                    {% endif %}

                    <li>
                      <a href="/cart" class="custom-font slide-menu slide-menu-cart" title="{{ 'layout.header.your_cart' | t }}">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                        <span class="cart-item-count-header">{{ cart.item_count }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>

            {% when 'within-header' %}

              <div class="logo-placement-within-wrapper">

                <div class="col-md-4 col-sm-12 logo-placement-within-wrapper--indiv">
                  <nav class="navbar" role="navigation" aria-label="Secondary">
                    {% if section.settings.top_bar_linklist != empty %}
                      <div>
                        {% include 'site-nav' with section.settings.top_bar_linklist, class: 'navbar-nav' %}
                      </div>
                    {% else %}
                      {% if section.settings.social-enable %}
                        <div class="header-social-links{% if section.settings.top_bar_linklist == empty %} header-social-links--left{% endif %}">
                          {% include 'social-links' %}
                        </div>
                      {% endif %}
                    {% endif %}
                  </nav>
                </div>

                <div class="col-md-4 col-sm-12 logo-placement-within-wrapper--indiv">
              		  <div class="site-header__logo h1" id="site-title" itemscope itemtype="http://schema.org/Organization">
              			  {% if section.settings.logo %}
              			    <a href="/" itemprop="url" class="site-header__logo-image">
                        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                            <img src="{{ section.settings.logo | img_url: image_size }}"
                                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                                 itemprop="logo">
              			    </a>
              			  {% else %}
              			    <a class="site-header__logo-link custom-font" href="/" itemprop="url">{{ shop.name }}</a>
              			  {% endif %}
              		  </div>
              	</div>

                <div class="col-md-4 col-sm-12 logo-placement-within-wrapper--indiv">
                  <div id="cart-brief">
                    {% if section.settings.top_bar_linklist != empty %}
                      {% if section.settings.social-enable %}
                        <div class="header-social-links">
                          {% include 'social-links' %}
                        </div>
                      {% endif %}
                    {% endif %}
                    <ul class="cart-link">
                      <!-- {% if settings.show_multiple_currencies %}
                          <li class="currency-picker--wrapper">
                              <select class="currency-picker sod_select" name="currencies" id="custom" style="visibility: hidden">
                                  {% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
                                  {% assign supported_codes = settings.supported_currencies | split: ' ' %}
                                  <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                                  {% for code in supported_codes %}
                                      {% if code != shop.currency and codes contains code %}
                                          <option value="{{ code }}">{{ code }}</option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                          </li>
                      {% endif %} -->
                      {% if section.settings.search-enable %}
                          <li>
                              <a href="#" class="search-show {% if settings.show_multiple_currencies %}icon-no-padding{% endif %}" title="{{ 'layout.header.search_box_text' | t }}">
                                  <i class="fa fa-search fa-2x"></i>
                              </a>
                          </li>
                      {%  endif %}
                      {% if shop.customer_accounts_enabled %}
                          {% if customer %}
                              <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                                  <a href="/account" title="{{ 'customer.account.title' | t }}">
                                      <i class="fa fa-user fa-2x"></i>
                                  </a>
                              </li>
                          {% else %}
                              <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                                  <a href="/account/login" title="{{ 'layout.customer.log_in' | t }}">
                                      <i class="fa fa-user fa-2x"></i>
                                  </a>
                              </li>
                          {% endif %}
                      {% endif %}
                      <li>
                          <a href="/cart" class="custom-font slide-menu slide-menu-cart" title="{{ 'layout.header.your_cart' | t }}">
                              <i class="fa fa-shopping-cart fa-2x"></i>
                              <span class="cart-item-count-header">{{ cart.item_count }}</span>
                          </a>
                      </li>
                  </ul>
              	</div>
              </div>
            </div>

            {% endcase %}

  		</div>

  	</div>
  </div>

	</header>

	<div class="container-fluid{% if section.settings.logo-placement == 'left' %} menu-left-bottom-border{% endif %}" id="page-layout">

    {% if section.settings.logo-placement == 'left' %}
    <div class="logo-placement-left-wrapper hidden-xs">

      <div class="col-md-4 col-md-12 logo-placement-left-wrapper--indiv">
          <div class="site-header__logo h1 logo-placement-left" id="site-title" itemscope itemtype="http://schema.org/Organization">
            {% if section.settings.logo %}
              <a href="/" itemprop="url" class="site-header__logo-image">
              {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: image_size }}"
                       srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       alt="{{ section.settings.logo.alt | default: shop.name }}"
                       itemprop="logo">
              </a>
            {% else %}
              <a class="site-header__logo-link custom-font" href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          </div>
      </div>


        <div class="col-md-8 logo-placement-left-wrapper--indiv">
          <div class="main-navigation-wrapper-main">
            <div id="main-navigation-wrapper" class="custom-font" role="navigaton" aria-label="Primary">
              {% include 'site-nav' with section.settings.main_linklist, class: 'nav-pills' %}
            </div>
          </div>
        </div>

      </div>

      {% endif %}

    	{% if section.settings.logo-placement == 'below-header' %}
    		<div class="row hidden-xs">
    			  <div class="site-header__logo h1" id="site-title" itemscope itemtype="http://schema.org/Organization">
    				  {% if section.settings.logo %}
    				    <a href="/" itemprop="url" class="site-header__logo-image">
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                    <img src="{{ section.settings.logo | img_url: image_size }}"
                         srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                         alt="{{ section.settings.logo.alt | default: shop.name }}"
                         itemprop="logo">
    				    </a>
    				  {% else %}
    				    <a class="site-header__logo-link custom-font" href="/" itemprop="url">{{ shop.name }}</a>
    				  {% endif %}
    			  </div>
    		</div>
    		{% endif %}

      {% if section.settings.logo-placement != 'left' %}
    		{% if section.settings.main_linklist != '' %}
        <div class="row hidden-xs">
          <div class="main-navigation-wrapper-main">
            <div id="main-navigation-wrapper" class="custom-font">
              {% include 'site-nav' with section.settings.main_linklist, class: 'nav-pills' %}
            </div>
          </div>
        </div>
    		{% endif %}
    {% endif %}

  </div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
        "type":      "header",
        "content":   "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "250 x 133px recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Width (in pixels)",
      "default":250
    },
    {
      "type": "range",
      "id": "logo_padding",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding around logo (in pixels)",
      "default": 20
    },
    {
      "type": "select",
      "id": "logo-placement",
      "label": "Placement",
      "options": [
        {
          "value": "below-header",
          "label": "Centered (below header)"
        },
        {
          "value": "within-header",
          "label": "Centered (within header)"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "below-header"
    },
    {
      "type": "header",
      "content": "Top bar"
    },
    {
      "type": "link_list",
      "id": "top_bar_linklist",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "social-enable",
      "label": "Enable social media icons",
      "default": true,
      "info": "Edit your social settings and accounts in General settings"
    },
    {
      "type": "checkbox",
      "id": "search-enable",
      "label": "Enable search",
      "default": true
    },
    {
      "type": "header",
      "content": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "range",
      "id": "menu_padding",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "Padding around 'main menu' (in pixels)",
      "default": 10
    }
  ]
}
{% endschema %}
