{%- assign product = all_products[section.settings.featured_product] -%}
{% include 'sca_freegift_price' with product %}
{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="container">
  <div class="row" id="product-box" data-section-id="{{ section.id }}">

    {% if section.settings.title != blank %}
      <div class="title-bar custom-font">
        <h2>{{ section.settings.title | escape }}</h2>
        <div class="clear"></div>
      </div>
    {% endif %}

    {% if section.settings.image-placement == 'left' %}
      <div class="col-md-6 product-images">
        <div class="sale-badge product-price__sale-label-{{ section.id }}{% unless current_variant.compare_at_price > current_variant.price %} hide{% endunless %}">{{ 'products.general.sale' | t }}</div>
          {% if product.empty? %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
                <li>
                  {{ 'product-1' | append: current | placeholder_svg_tag: 'icon icon--placeholder' }}
                </li>
              </ul>
            </div>
          {% else %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
              {% for image in product.images %}
                <li>
                  <img
                      src="{{ image | product_img_url: '800x800'}}"
                      alt="{{ image.alt | escape }}"
                      {% if image.variants != empty %}data-variant="{{ image.variants[0].id }}"{% endif %}
                  />
                </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
      </div>
    {% endif %}

    <div class="col-md-6">

      <section class="entry-content product-description-main-wrapper">

        {% if section.settings.show-vendor %}
          <div class="indiv-product-vendor-text">{{ product.vendor }}</div>
        {% endif %}

        <div style="position:relative;">
            {% if product.empty? %}
              <h2 class="custom-font product-description-header">{{ 'general.onboarding.product_title' | t }}</h2>
            {% else %}
              <h2 class="custom-font product-description-header">{{ product.title }}</h2>
            {% endif %}
            <div id="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-label" }} </div>
        </div>

        {% unless product.empty? %}

          {% if product.available %}

            <form action="/cart/add" method="post" id="add-to-cart-form">

              <h5 class="custom-font compare-at-price js">
                {% if current_variant.compare_at_price > current_variant.price %}
                  <span class="money">{{ current_variant.compare_at_price | money_with_currency }}</span>
                {% endif %}
              </h5>
              <h3 class="custom-font js" id="price-field"><span class="money">{{ current_variant.price | money_with_currency }}</span></h3>

              <div class="row homepage-sections--indiv-product-slider-variants">

                  {% if sca_product_variantCount > 1  %}
                    {% for option in product.options_with_values %}
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="input-field col s12 m6 materialize-select">
                          <select class="icons materialize" id="SingleOptionSelector-{{ forloop.index0 }}">
                            {% for value in option.values %}
                            {% unless product.variants[forloop.index0].metafields.secomapp.freegifts %}
                            {% unless value contains '% off)' %}
                              <option {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
                            {% endunless %}
                            {% endunless %}
                            {% endfor %}
                          </select>
                          <label for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}

                  <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="form-control original-select product-form__variants no-js">
                    {% for variant in product.variants %}
                    {% unless variant.metafields.secomapp.freegifts %}
                    {% unless variant.title contains '(Freegifts)' %}
                      {% if variant.available %}
                        <option {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                          {{ variant.title }} - <span class="money">{{ variant.price | money_with_currency }}</span>
                        </option>
                      {% else %}
                        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                      {% endif %}
                    {%endunless%}
                    {%endunless%}
                    {% endfor %}
                  </select>

                  {% if section.settings.show_quantity_selector %}
      			        <div class="selector-wrapper {% if section.settings.image_size == 'large' %}col-md-12{% else %}col-md-6{% endif %} col-sm-12 col-xs-12">
      				        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                            <div class="quantity-controls">
                                <button type="button" class="qty-minus">-</button>
      				                <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                <button type="button" class="qty-plus">+</button>
                            </div>
      					    </div>
      					  {% endif %}

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" name="add" id="purchase" class="btn btn-success custom-font">
                        {{ 'products.product.add_to_cart' | t }}
                    </button>
                  </div>

                  </div>

            </form>
            <span class="sca-fg-cat-list" style="display: none;" id="secomapp-fg-data-{{ product.id }}"> </span>


          {% else %}

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="product-out-of-stock">{{ 'products.product.sorry_stock' | t }}</div>
            </div>

          {% endif %}

        {% else %}

          <h3 class="custom-font"><span class="money">$16.99</span></h3>
          <div class="onboarding--sold-out">
            <a class="btn btn-success custom-font">
                {{ 'products.product.sold_out' | t }}
            </a>
          </div>

        {% endunless %}

        {% if section.settings.show_product_description %}
          {% unless product.empty? %}
            {{ product.description }}
          {% else %}
            {{ 'general.onboarding.product_description' | t }}
          {% endunless %}
        {% endif %}

      </section>

      </div>

      {% if section.settings.image-placement == 'right' %}
        <div class="col-md-6 product-images">
          <div class="sale-badge product-price__sale-label-{{ section.id }}{% unless current_variant.compare_at_price > current_variant.price %} hide{% endunless %}">{{ 'products.general.sale' | t }}</div>
          {% if section.settings.featured_product != empty %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
                {% for image in product.images %}
                  <li>
                    <img src="{{ image | product_img_url: '800x'}}"
                         srcset="{{ product.featured_image | product_img_url: '400x' }} 400w,
                          {{ product.featured_image | product_img_url: '790x' }} 790w"
                         sizes="(max-width: 991px) 100vw, (min-width: 992px) 50vw"
                         {% if image.variants != empty %}data-variant="{{ image.variants[0].id }}"{% endif %}
                         alt="{{ image.alt | escape }}" />
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <div class="homepage-sections--indiv-product-slider">
              <ul class="slides">
                <li>
                  {{ 'product-1' | append: current | placeholder_svg_tag: 'icon icon--placeholder' }}
                </li>
              </ul>
            </div>
        {% endif %}
        </div>
      {% endif %}
      </div>
    </div>

{% unless product.empty? %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}

{% schema %}
{
"name": "Featured product",
"class": "homepage-section--indiv-product-wrapper wow fadeIn",
"settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured product"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "select",
        "id": "image-placement",
        "label": "Image placement",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "checkbox",
        "id": "show-vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_product_description",
        "label": "Show product description",
        "default": true
      }
  ],
"presets": [
  {
    "name": "Featured product",
    "category": "Products"
  }
]
}
{% endschema %}
