{% case section.settings.products-per-collection %}
  {% when '3' %}
    {%- assign grid_item_width = 'col-xs-6 col-sm-4 col-md-4 col-lg-4 three_columns' -%}
  {% when '4' %}
    {%- assign grid_item_width = 'col-xs-6 col-sm-6 col-md-3 col-lg-3 four_columns' -%}
  {% when '5' %}
    {%- assign grid_item_width = 'col-xs-6 col-sm-6 col-md-fifth col-lg-fifth five_columns' -%}
{% endcase %}

<div id="collections-listing">

    <div class="title-bar custom-font">
        <h2>{{ 'collections.general.product_collections' | t }}</h2>
        <div class="clear"></div>
    </div>

    {% for collection in collections %}
        {% unless collection.handle == 'frontpage' or collection.all_products_count < 1 %}
        <div class="row">
            {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

            <div class="col-md-12">
                <h3 class="custom-font">
                    {{ collection.title }}
                </h3>
                <p class="collection-listing-link">
                    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="all-collections-title">
                        {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }} <i class="fa fa-chevron-circle-right"></i>
                    </a>
                </p>
            </div>
        </div>
            <div class="product-grid clearfix {% if section.settings.match-height %}products--match-height{% endif %}">
                <div class="row">
                {% for product in collection.products limit: section.settings.products-per-collection %}
                    <div class="grid__item {{ grid_item_width }} indiv-product-wrapper collection-image-anim wow fadeIn

          {% case section.settings.products-per-collection %}
			{% when '3' %}
			    {% cycle ' mobile-clear tablet-clear', '', ' omega' %}
		    {% when '4' %}
		      	{% cycle ' mobile-clear tablet-clear', '', 'mobile-clear tablet-clear', ' omega' %}
		    {% when '5' %}
	          	{% cycle ' mobile-clear', '', 'tablet-clear', '', 'omega mobile-clear' %}
	      	{% endcase %}
            ">
                        <div class="indiv-product">

                            {% case section.settings.hover-effect %}

                            {% when 'none' %}

                            <a class="grid__image" href="{{ product.url | within: collection }}" title="{{product.title}}">
                                <img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive">
                            </a>

                            {% when 'second-image' %}

                            {% if product.images.size > 1 %}

                                <div class="reveal">
                                    <a class="grid__image" href="{{ product.url | within: collection }}" title="{{product.title}}">
                                        <img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive">
                                        <div class="hidden">
                                            <img src="{{ product.images[1] | product_img_url: '760x' }}" alt="{{ product.images.last.alt | escape }}" class="img-responsive" />
                                        </div>
                                    </a>
                                </div>

                            {% else %}

                                <a class="grid__image" href="{{ product.url | within: collection }}" title="{{product.title}}">
                                    <img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive">
                                </a>

                            {% endif %}

                            {% when 'zoom' %}

                            <div class="collection-image--zoom-effect">
                                <div class="zoom-effect--inner">
                                    <a class="grid__image" href="{{ product.url | within: collection }}" title="{{product.title}}">
                                        <img src="{{ product.featured_image | product_img_url: '760x' }}'" alt="{{product.title}}" class="img-responsive">
                                    </a>
                                </div>
                            </div>

                            {% endcase %}

                            <div class="hp-title">
                                <a href="{{ product.url | within: collection }}">
                                    <div class="indiv-product-title-text">{{product.title}}</div>

                                    {% if product.compare_at_price_max > product.price %}
                                        <div class="sale-badge">{{ 'products.general.sale' | t }}</div>
                                    {% endif %}
                                    {% unless product.available %}
                                        <div class="sold-out-badge">{{ 'products.product.sold_out' | t }}</div>
                                    {% endunless %}

                                    <span class="money-styling custom-font">
								{% if product.compare_at_price_max > product.price %}
                                    <h5 class="custom-font compare-at-price"><span class="money"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_compare_price" data-override-value-set="1" data-override-value="{{ product.compare_at_price_max }}" style="display:none !important;"></span>{{ product.compare_at_price_max | money }}</span></h5>
                                {% endif %}
                                        {% if product.price_varies %}
                                            <small>{{ 'products.general.from' | t }}</small> <span class="money"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price_min }}" style="display:none !important;"></span>{{ product.price_min | money }}</span>
							  {% else %}
                                            <span class="money"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price_2" data-override-value-set="1" data-override-value="{{ product.price_min }}" style="display:none !important;"></span>{{ product.price_min | money }}</span>
                                        {% endif %}
							</span>
                                </a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endunless %}
    {% endfor %}

</div>

{% schema %}
    {
    "name": "List collections",
    "settings": [
        {
        "type": "select",
        "id": "products-per-collection",
        "label": "Products per collection",
        "default": "3",
        "options": [
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    }
                ]
            },
            {
            "type": "select",
            "id": "hover-effect",
            "label": "Hover effect",
            "default": "zoom",
            "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "zoom",
                        "label": "Zoom"
                    },
                    {
                        "value": "second-image",
                        "label": "Show Second Product Image"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Auto-height images"
            },
            {
                "type": "paragraph",
                "content": "Set all of your images to be the same height"
            },
            {
                "type": "checkbox",
                "id": "match-height",
                "label": "Enable auto-height",
                "default": false
            }
        ]
    }
{% endschema %}
