<style>

  #map-container-{{ section.id }} {
      display:block;
      width:100%;
      background:#eaeaea;
      max-height: 350px;
      height: {{ section.settings.height }};
  }

  .homepage-map--fallback {
      height: {{ section.settings.height }};
  }

  @media only screen and (max-width: 768px){
      #map-container-{{ section.id }}, .homepage-map--fallback {
          min-height: 50vw!important;
      }
  }

  /* Hide Google Links */
  .gmnoprint a, .gmnoprint span, .gm-style-cc {
      display:none;
  }
  .gmnoprint div {
      background:none !important;
  }

</style>

<script type="application/json" id="homepage-map--theme--{{ section.id }}">
{% case section.settings.colors %}
  {% when 'white' %}
    [
      { "elementType": "geometry", "stylers": [ { "color": "#f5f5f5" } ] },
      { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] },
      { "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
      { "elementType": "labels.text.stroke", "stylers": [ { "color": "#f5f5f5" } ] },
      { "featureType": "administrative.land_parcel", "elementType": "labels.text.fill", "stylers": [ { "color": "#bdbdbd" } ] },
      { "featureType": "poi", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] },
      { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
      { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] },
      { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
      { "featureType": "road", "elementType": "geometry", "stylers": [ { "color": "#ffffff" } ] },
      { "featureType": "road.arterial", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
      { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#dadada" } ] },
      { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
      { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
      { "featureType": "transit.line", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] },
      { "featureType": "transit.station", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] },
      { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#c9c9c9" } ] },
      { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] }
    ]
  {% when 'light' %}
    []
  {% when 'dark' %}
    [
      { "elementType": "geometry", "stylers": [ { "color": "#212121" } ] },
      { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] },
      { "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
      { "elementType": "labels.text.stroke", "stylers": [ { "color": "#212121" } ] },
      { "featureType": "administrative", "elementType": "geometry", "stylers": [ { "color": "#757575" } ] },
      { "featureType": "administrative.country", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
      { "featureType": "administrative.land_parcel", "stylers": [ { "visibility": "off" } ] },
      { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [ { "color": "#bdbdbd" } ] },
      { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
      { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#181818" } ] },
      { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
      { "featureType": "poi.park", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1b1b1b" } ] },
      { "featureType": "road", "elementType": "geometry.fill", "stylers": [ { "color": "#2c2c2c" } ] },
      { "featureType": "road", "elementType": "labels.text.fill", "stylers": [ { "color": "#8a8a8a" } ] },
      { "featureType": "road.arterial", "elementType": "geometry", "stylers": [ { "color": "#373737" } ] },
      { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#3c3c3c" } ] },
      { "featureType": "road.highway.controlled_access", "elementType": "geometry", "stylers": [ { "color": "#4e4e4e" } ] },
      { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
      { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
      { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#000000" } ] },
      { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#3d3d3d" } ] }
    ]
  {% endcase %}
</script>

<div class="container">
    <div class="row">
        <div class="index-section col-md-12">
            <div class="page-width map-row homepage-map-content">
                {% capture image_layout %}
                    {% if section.settings.api_key != blank and section.settings.map_address != blank %}
                      {% assign map_visible = true %}
                    {% else %}
                      {% assign map_visible = false %}
                    {% endif %}
                    <div class="map-row__item col-md-8 col-sm-7 col-xs-12">
                        <div class="map-wrapper" data-id="{{ section.id }}" data-colors="{{ section.settings.colors }}">
                            <input type="hidden" id="apikey-{{ section.id }}" value="{{ section.settings.api_key | escape }}" />
                                {% if map_visible %}
                                    <div id="map-container-{{ section.id }}"
                                         class="map-section__container"
                                         data-map
                                         data-address-setting="{{ section.settings.map_address | escape }}"
                                         >
                                    </div>
                                    <div class="map-section__overlay" data-map-overlay></div>
                                {% endif %}
                                {% if section.settings.background_image != blank %}
                                    <div class="img homepage-map--fallback{% if map_visible %} hide {% endif %}">
                                        {{ section.settings.background_image | img_url: '1200x' | img_tag: section.settings.image.alt, 'feature-row__image img-responsive' }}
                                    </div>
                                {% else %}
                                    <div class="img homepage-map--fallback{% if map_visible %} hide {% endif %}">
                                        {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
                                    </div>
                                {% endif %}

                        </div>
                    </div>
              {% endcapture %}
              <div class="row">
                  <div class="map-row">
                      {% if section.settings.layout == 'left' %}
                          {{ image_layout }}
                      {% endif %}
                      <div class="map-row__item map-row__text map-row__text--{{ section.settings.layout }} col-md-4 col-sm-5 col-xs-12  hidden-xs">
                          <div class="map-row__text-container">
                              {% if section.settings.heading != blank %}
                                  <h2>{{ section.settings.heading | escape }}</h2>
                              {% endif %}
                              {% if section.settings.address != blank %}
                                  <div class="rte featured-row__subtext textarea">{{ section.settings.address }}</div>
                              {% endif %}
                              {% if section.settings.button_text != blank and section.settings.button_text != blank %}
                                  <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}" class="btn btn-custom" target="_blank">
                                      {{ section.settings.button_text | escape }}
                                  </a>
                              {% endif %}
                          </div>
                      </div>
                      {% if section.settings.layout == 'right' %}
                          {{ image_layout }}
                      {% endif %}
                      <div class="map-row__item map-row__text map-row__text--left col-md-4 col-sm-5 col-xs-12  hidden-sm hidden-md hidden-lg">
                          <div class="map-row__text-container">
                              {% if section.settings.heading != blank %}
                                  <h2>{{ section.settings.heading | escape }}</h2>
                              {% endif %}
                              {% if section.settings.address != blank %}
                                  <div class="rte featured-row__subtext textarea">{{ section.settings.address }}</div>
                              {% endif %}
                              {% if section.settings.button_text != blank and section.settings.button_text != blank %}
                                  <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}" class="btn btn-custom" target="_blank">
                                      {{ section.settings.button_text | escape }}
                                  </a>
                              {% endif %}
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Map",
    "class": "homepage-section--map-wrapper wow fadeIn",
    "settings": [
    {
			"type": "select",
			"id": "colors",
			"label": "Color scheme",
			"default": "light",
			"options": [
				{
					"value": "white",
					"label": "Minimal"
				},
				{
					"value": "light",
					"label": "Default"
				},
				{
					"value": "dark",
					"label": "Dark"
				}
			]
		},
      {
        "type": "header",
        "content": "Text"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Our store"
      },
      {
        "id": "address",
        "type": "richtext",
        "label": "Address and hours",
        "default": "<p>123 Fake St.<br>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>"
      },
      {
        "id": "map_address",
        "type": "text",
        "label": "Map address",
        "info": "Google Maps will find the exact location",
        "default": "80 Spadina Ave, Toronto"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Map link label",
        "default": "Get directions"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Map on left"
          },
          {
            "value": "right",
            "label": "Map on right"
          }
        ]
      },
      {
      "type": "select",
      "id": "height",
      "label": "Height",
      "default": "30vw",
      "options": [
          {
              "value": "25vw",
              "label": "Small"
          },
          {
              "value": "30vw",
              "label": "Medium"
          },
          {
              "value": "35vw",
              "label": "Large"
          }
          ]
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "id": "api_key",
        "type": "text",
        "label": "Google Maps API key",
        "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Image",
        "info": "Displayed if the map isn’t loaded"
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}
