
<style>

body{
  color: {{ section.settings.text-colour }};
  background-color: {{ section.settings.background-colour }};
}

.hide {
    display: none!important;
}

.password-spinner {
    margin-top: 20px;
}

#powered a{
	color: {{ section.settings.text-colour }};
  text-decoration: underline;
}

#contact_form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: {{ section.settings.text-colour }};
    opacity: 1; /* Firefox */
}

#contact_form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: {{ section.settings.text-colour }};
}

#contact_form ::-ms-input-placeholder { /* Microsoft Edge */
    color: {{ section.settings.text-colour }};
}

.password--social-links li a,
.modal-open a{
  color: {{ section.settings.text-colour }};
}

#contact_form #email{
  color: {{ section.settings.text-colour }};
  border: 1px solid {{ section.settings.text-colour }};
  background-color: {{ section.settings.background-colour }};
}

{% if section.settings.background %}
body{
  background-image: url('{{ section.settings.background | img_url: '2000x' }}');
  background-size: cover;
  background-color: {{ section.settings.background-colour }};
  background-position: center;
  background-attachment: fixed
}

html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.{{ section.settings.image_overlay_opacity }});
    overflow-y: auto;
}
{% endif %}

</style>


<div id="password-header">
  <h1 id="site-title">
    <a href="/" title="Home">
      {% if section.settings.logo %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          itemprop="logo">
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
    </a>
  </h1>

  {% if shop.password_message != '' %}
    <div class="welcome-message custom-font">{{ shop.password_message }}</div>
  {% else %}
    <div class="welcome-message custom-font">
      <p><span class="default-text">{{ 'coming_soon.general.opening_soon' | t }}</span></p>
    </div>
  {% endif %}

  {% if section.settings.social_media_icons %}

    <div class="password--social-links">
      {% include 'social-links' %}
    </div>

  {% endif %}

</div>

<div class="password-mailing-list">
  {% if section.settings.newsletter_enable %}
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <div class="alert alert-success" role="alert">{{ 'coming_soon.general.thanks_mailing' | t }}</div>
      {% else %}
        <div class="form-group">
          <label for="email">{{ section.settings.newsletter_form_heading }}</label>
          <div class="input-group">
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_text' | t }}" class="form-control">
            <span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
          </div>
        </div>
      {% endif %}
    {% endform %}
  {% endif %}
</div>

<div id="login-modal" class="modal">
  <div id="site-owner-options">
    <div class="password-wrapper">
      <div class="col-md-12">
        {% form 'storefront_password' %} {{ form.errors | default_errors }}
          <div class="form-group">
            <label for="password">{{ 'coming_soon.general.password' | t }}</label>
            <div class="input-group">
              <input type='password' name='password' id='password' class="form-control" autofocus />
              <span class="input-group-btn password-submit">
                <input class="btn btn-success" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" />
              </span>
              <div class="password-spinner hide">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
              </div>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
    <p class="store-owner">{{ 'coming_soon.general.store_owner' | t }}<br />{{ 'coming_soon.general.store_owner_html' | t }}</p>
  </div>
</div>

<div id="powered">
  <div class="powered-inner">
    <div class="modal-open"><a href="#login-modal" class="modal-open--link">{{ 'coming_soon.general.password' | t }}</a></div>
    {{ 'coming_soon.general.powered_by_html' | t }}
  </div>
</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text-colour",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background-colour",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Logo width",
      "default": 200
    },
    {
      "type":      "paragraph",
      "content": "[Edit your password page message in your Shopify settings](http://www.shopify.com/admin/online_store/preferences)"
    },
    {
      "type": "checkbox",
      "id": "social_media_icons",
      "label": "Show social media icons",
      "default": true,
      "info": "Edit your social settings and accounts in General settings"
    },
    {
      "type": "header",
      "content": "Background image"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Image",
      "info": "2000 x 800px recommended"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 95,
      "step": 5,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 60
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Find out when we open"
    }
  ]
}

{% endschema %}
