<div class="product-page-styled-ig">
    <div class="container">
        <div class="row">
            <div class="page-width col-md-12">
                <div class="row">
                    <!-- START Yotpo Reviews Widget -->
                    <div class="yotpo yotpo-main-widget"
                         data-product-id="{{ product.id }}"
                         data-price="{{ variant.price | money_without_currency }}"
                         data-currency="{{ shop.currency }}"
                         data-name="{{ product.title | escape }}"
                         data-url="{{ shop.url }}{{ product.url }}"
                         data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                         data-description="{{ product.description | escape }}">
                    </div>
                    <!-- END Yotpo Reviews Widget -->
                </div>
            </div>
        </div>
    </div>

</div>
