<div class="video-section {{ section.settings.width_classes }}">
    <div class="wrapper">
        {% if section.settings.url.type == 'youtube' %}
            <div class="embed-container">
                <div class="youtube-video" id="youtube-video-{{ section.id }}"
                    data-video-link="{{ section.settings.url.id }}"
                    data-video-autoplay="{% if section.settings.autoplay %}true{% else %}false{% endif %}"
                    data-video-loop="{% if section.settings.loop %}true{% else %}false{% endif %}"
                    data-video-mute="{% if section.settings.mute %}true{% else %}false{% endif %}">
                </div>
            </div>
        {% endif %}

        {% if section.settings.url.type == 'vimeo' %}
            <div class="embed-container">
                <div class="vimeo-video" id="vimeo-video-{{ section.id }}"
                    data-vimeo-id="{{ section.settings.url.id }}"
                    data-vimeo-autoplay="false"
                    data-video-autoplay="{% if section.settings.autoplay %}true{% else %}false{% endif %}"
                    data-vimeo-loop="{% if section.settings.loop %}true{% else %}false{% endif %}"
                    data-vimeo-width="746"
                    data-video-mute="{% if section.settings.mute %}true{% else %}false{% endif %}">
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Video",
    "class": "homepage-section--video-wrapper wow fadeIn",
    "settings": [
        {
            "id": "url",
            "type": "video_url",
            "label": "Video URL",
            "accept": ["youtube", "vimeo"],
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "loop",
            "label": "Loop",
            "default": true
        },
        {
          "type": "checkbox",
          "id": "mute",
          "label": "Mute",
          "default": false
        },
        {
        "type":"select",
        "id":"width_classes",
        "label":"Width",
        "default":"video-width--100",
        "options":[
                {
                    "value":"video-width--100",
                    "label":"100%"
                },
                {
                    "value":"video-width--75",
                    "label":"75%"
                },
                {
                    "value":"video-width--50",
                    "label":"50%"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Video",
            "category": "Video"
        }
    ]
}
{% endschema %}
