{% form 'customer' %}
    {{ form.errors | default_errors }}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <p class="note form-success{% unless form.posted_successfully? %} hide{% endunless %}">
        <strong>{{ 'general.newsletter_form.thanks' | t }}</strong>
    </p>

    <!-- Newsletter box for footer -->
    <div id="newsletter-wrapper" {% if form.posted_successfully? %}class="hide"{% endif %}>
        <input id="newsletter_text" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_text' | t }}" name="contact[email]" id="Email" class="input-group-field email" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <input type="submit" id="newsletter_submit" class="btn btn-default" name="commit" id="subscribe" value="subscribe">
    </div>
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw newsletter-spinner hide"></i>
{% endform %}
