<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ 'password.scss.css' | asset_url | stylesheet_tag }}

  {% include 'font-links' %}

  {{ 'jquery-3.3.1.min.js' | asset_url | script_tag }}
	{{ 'password.js' | asset_url | script_tag }}

  <script>
  window.lazySizesConfig = window.lazySizesConfig || {};
  window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

  // configure available widths to replace with the {width} placeholder
  window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];

  function onload() {
    window.wetheme.$('a[href="#login-modal"]').on('click', function(event) {
      event.preventDefault();
      window.wetheme.$(this).modal({
        fadeDuration: 250
      });
    });

    // Use AJAX for submitting the password on password page
    window.wetheme.$('#login_form').off('submit').on('submit', function (event) {
        event.preventDefault();
        var $form = window.wetheme.$(this);
        $form.find('.password-spinner').removeClass('hide');
        $form.find('.password-submit').addClass('hide');
        $form.find('.errors').remove();

        var xhr = window.wetheme.$.post('/password', $form.serialize(), 'html')
            .done(function (data) {
                var new_login_form = window.wetheme.$(data).find('#login_form');
                if (new_login_form.length > 0) {
                    $form.prepend(new_login_form.find('.errors'));
                    $form.find('.password-spinner').addClass('hide');
                    $form.find('.password-submit').removeClass('hide');
                } else {
                    window.location = '/';
                }
            })
            .fail(function () {
                $form.off('submit');
                $form.submit();
            })
    });
  }
  document.addEventListener('shopify:section:load', onload);
  window.wetheme.$(document).ready(onload);
  </script>

  <title>{{ 'coming_soon.general.title' | t }}</title>

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {{ content_for_header }}

</head>

<body class="password-page">

  <div class="background-overlay">

    <div class="container">

      <div id="login">

        {{ content_for_layout }}

      </div>

    </div>

  </div>

</body>

</html>
