<!-- /templates/collection.list.liquid -->
{% comment %}

  By using a variation of the 'view all' parameter technique, you can create
  a custom layout for any template by adding ?view=xxxx

  In this example, you can have a list view of your collection page by going to
  /collections/all?view=list

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

  For more information on the ?view parameter:
    - http://docs.shopify.com/support/configuration/store-customization/can-i-show-more-than-50-products-on-my-homepage-can-i-add-a-view-all-function-to-my-collection-pages#add-view-all

{% endcomment %}

{% paginate collection.products by 48 %}

{% include 'breadcrumb' %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
  - large--three-quarters
{% endcomment %}
<div class="grid--rev">
  <div class="grid__item ">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <!--<h1 class="section-header__title">{{ collection.title }}</h1>-->
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
    
      <div class="section-header small--one-whole">
        <div class="section-header__right filter">
          {% include 'collection-sorting' %}
        </div>
      </div>
    {% else %}
      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
        <div class="section-header__right filter">
          {% include 'collection-sorting' %}
        </div>
      </header>
    {% endif %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">

      <!-- begin product list output -->
      {% for product in collection.products %}
        {% include 'sca_freegift_price' with product %}
        {% comment %}
          Check if the product is on sale and set a variable to be used below.
        {% endcomment %}
        {% assign on_sale = false %}
        {% if sca_compare_at_price > sca_price %}
          {% assign on_sale = true %}
        {% endif %}

        {% comment %}
          Check if the product is sold out and set a variable to be used below.
        {% endcomment %}
        {% assign sold_out = true %}
        {% if sca_product_available %}
          {% assign sold_out = false %}
        {% endif %}

        <div class="grid__item">

          {% comment %}
            Link to your product with the 'within: collection' filter for the link to be aware of the collection.
            This allows you to create collection-based navigation on the product page.

            Results of using 'within: collection':
            - Instead of a URL with /products/product-handle
              you would get /collections/collection-handle/products/product-handle

            For more info on navigation within a collection
              - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection
          {% endcomment %}
          <div class="grid large--display-table">
            <div class="grid__item large--one-fifth large--display-table-cell medium--one-third">

              <div class="reveal">
                  <a href="{{ product.url | within: collection }}">
                        <img src="{{ product.images[0] | img_url: 'large' }}" alt="{{ product.images[0].alt | escape }}" class="grid__image">
                        <div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "Free Gift", "sca-fg-img-collect" }} </div>
                        <div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ product.id }}" prod-show='list'> </div>
                      <div class="hidden">
                        <img src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" class="grid__image"/>
                      </div><!-- end of .hidden -->
                  </a>
              </div><!-- end of .reveal -->


            </div>
            <div class="grid__item large--four-fifths large--display-table-cell medium--two-thirds">
              <div class="grid">
                <div class="grid__item large--three-quarters medium--two-thirds">
                  <p class="h6 text-center product-title">{{ product.title }}</p>
                  <div class="rte">
                    <p>{{ product.content | strip_html | truncatewords: 30 }}</p>
                  </div>
                </div>
                <div class="grid__item large--one-quarter medium--one-third small--one-half">
                  {% comment %}
                    You can show a leading 'from' or 'up to' by checking 'sca_price_varies'
                    if your variants have different prices.
                  {% endcomment %}
                  {% if on_sale %}
                    {% if sca_price_varies %}
                      {% assign sale_price = sca_price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      <strong>{{ 'products.product.on_sale' | t }}</strong>
                      {{ sca_price | money }}
                    {% endif %}
                  {% else %}
                    {% if sca_price_varies %}
                      {% assign price = sca_price | money %}
                      {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                      {{ sca_price | money }}
                    {% endif %}
                  {% endif %}
                  {% if sold_out %}
                    <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                  {% endif %}
                  {% if on_sale %}
                    <br><span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span><s>{{ sca_compare_at_price | money }}</s>
                  {% endif %}
                  {% if product.options contains 'Color' %}
                    <a href="{{ product.url | within: collection }}">more colors +</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

      {% else %}

        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endfor %}
      <!-- //product list output -->

    </div>

    {% if paginate.pages > 1 %}
      
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>

{% comment %}
  <div class="grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>
{% endcomment %}
</div>

{% endpaginate %}
