<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
{% if settings.homepage-holiday %}
  {% include 'homepage-slider' %}
  {% include 'homepage-holiday' %}
{% else %}
  {% include 'homepage-slider' %}
{% endif %}


  <div class="grid blocks two-up">
    <div class="grid__item large--one-half">
      <a href="{{ settings.feature_link_top_1 }}">
        <img src="{{ 'feature_image_top_1.jpg' | asset_url }}" alt="{{ settings.feature_title_top_1 }}"/>
      </a>
    </div>

    <div class="grid__item large--one-half">
      <a href="{{ settings.feature_link_top_2 }}">
        <img src="{{ 'feature_image_top_2.jpg' | asset_url }}" alt="{{ settings.feature_title_top_2 }}"/>
      </a>
    </div>  
  </div>

  <div class="grid blocks three-up">
    <div class="grid__item large--one-third medium--one-whole">
      <a href="{{ settings.feature_link_bottom_1 }}">
        <img src="{{ 'feature_image_bottom_1.jpg' | asset_url }}" alt="{{ settings.feature_title_bottom_1 }}"/>
      </a>
    </div>

    <div class="grid__item large--one-third medium--one-whole">
      <a href="{{ settings.feature_link_bottom_2 }}">
        <img src="{{ 'feature_image_bottom_2.jpg' | asset_url }}" alt="{{ settings.feature_title_bottom_2 }}"/>
      </a>
    </div>

    <div class="grid__item large--one-third medium--one-whole">
      <a href="{{ settings.feature_link_bottom_3 }}">
        <img src="{{ 'feature_image_bottom_3.jpg' | asset_url }}" alt="{{ settings.feature_title_bottom_3 }}"/>
      </a>
    </div>
  </div>


<!-- Display the TagTray gallery in the body of your site -->

    <h2 class="text-center playfair-header">Shop our Instagram<br>#oliveandpiper</h2>
        <script src="//foursixty.com/media/scripts/fs.slider.v2.js" data-feed-id="olive-piper" data-theme="slider_v2" data-cell-size="20%" data-prepend-detail="true" ></script>
        <style>
            div.fs-has-links { text-indent: -9999px; position: static; font-weight: 500; } 
            .fs-has-links::after {  padding:  10px 15px; border: 2px solid #fff; color:#fff; content: "SHOP THE LOOK"; text-indent: 0; display: block; font-size: 10pt; margin: 10px; }.fs-wrapper { height: auto } .fs-entry-container { height: 0 !important; width: 20% !important; padding-top: 20% !important; }.fs-desktop .fs-timeline-entry div.fs-text-container { display: flex; flex-direction: column;align-items: center; justify-content: center; display: -webkit-flex;  -webkit-flex-direction: column;  -webkit-align-items: center;  -webkit-justify-content: center;  display: -ms-flexbox;  -ms-flex-direction: column;  -ms-flex-align: center;  -ms-flex-pack: center; transition: opacity .25s; } .fs-desktop .fs-timeline-entry .fs-text-container:hover { opacity: 1; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Times New Roman, serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgb(255, 234, 222); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 1px }</style>





  