{% include 'sca_freegift_price' with product %}
<!-- /templates/product.liquid -->
{% comment %}
  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.
  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html
{% endcomment %}
<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% comment %}
  {% include 'breadcrumb' %}
  {% endcomment %}
  <div class="grid product-single">
    <div class="grid__item large--one-half product-images">
      <!-- START MAGICZOOMPLUS IMAGES --><div class="product-single__photos large--right small--center" >{% include 'magiczoomplus' %}</div>
      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      <!-- END MAGICZOOMPLUS IMAGES -->
    </div>
    <div class="product-info grid__item large--one-half text-center right">
      <h1 itemprop="name">      <!-- Smart Wishlist begin -->
      <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></div>
      <!-- Smart Wishlist end --><div style="position:relative;"> {{ product.title }} <div name="secomapp-fg-image-{{  product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "Free Gift", "sca-fg-img-label" }} </div> </div>      
      </h1>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if sca_product_available %}InStock{% else %}OutOfStock{% endif %}">
        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)
            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements
            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          {% include 'shappify-sales-clock' %}
          
          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span id="ProductPrice" class="h4" itemprop="price">
            {{ current_variant.price | money }}
          </span>
          {% if sca_compare_at_price_max > sca_price %}
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span><s>{{ sca_compare_at_price | money }}</s>
          {% endif %}
          <div class="selectors-container">
              <select name="id" id="productSelect" class="product-single__variants">
                {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}
                  {% if variant.available %}
                    {% comment %}
                      Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                    {% endcomment %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
{%endunless%}
{%endunless%}
                {% endfor %}
              </select>
              
              {% include 'product-customizer' %}
              <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
          </div>
              <button type="submit" name="add" id="AddToCart" class="btn">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
        </form>
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"> </div>
        
        <!-- HELP POP UP -->
        <div class="help-box">
          <a class="fancybox" href="#inline"><i class="fa fa-comment" aria-hidden="true"></i> Can we help you?</a>
        </div>
        <div id="inline" style="display: none;">
          <h3 class="text-center">Have A Question?</h3>
          <div class="help-info large--one-third large--right small-full">
            <p><i class="fa fa-envelope" aria-hidden="true"></i> Email<br> <a href="mailto:info@oliveandpiper.com">info@oliveandpiper.com</a></p>
            <p><i class="fa fa-at" aria-hidden="true"></i> Social<br> 
              Facebook: <a target="_blank" href="https://www.facebook.com/oliveandpiper">Oliveandpiper</a><br>
              Twitter: <a target="_blank" href="https://twitter.com/oliveandpiper">@Oliveandpiper</a><br>
              Instagram: <a href="https://www.instagram.com/oliveandpiper/">@Oliveandpiper</a>
            </p>
            <p><a href="/pages/shipping-returns">Shipping and Returns</a><br>
            <a href="/pages/faqs">Frequently Asked Questions</a>
            </p>
          </div>
            {% comment %}
            Contact form starts here
            {% endcomment %}
          <div class="form-vertical large--one-half large--right small--full">
              {% form 'contact' %}
              {% comment %}
                Successful message
              {% endcomment %}
              {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
              {% endif %}
              {{ form.errors | default_errors }}
              {% assign name_attr = 'contact.form.name' | t | handle %}
              <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
              <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              {% assign name_attr = 'contact.form.phone' | t | handle %}
              <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
              <textarea rows="3" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              
              <input type="hidden" name="contact[product title]" value="{{ product.title }}">
              <input type="hidden" name="contact[product url]" value="{{ shop.url }}{{ product.url }}">
              <input type="submit" class="btn left" id="contactFormSubmit" value="{{ 'contact.form.send' | t }}" />
            {% endform %}
          </div>
        </div>
            <!-- ADD THIS SOCIAL SHARE BUTTONS -->
            <div class="addthis_sharing_toolbox"></div>
      </div>
      <div class="product-description rte large--full text-left" itemprop="description">
          {% comment %}
            This is the code for Product Description Accordion
          {% endcomment %}
          <div class="accordion-container">
            <a href="#" class="accordion-toggle" id="section1">Product Details <span class="toggle-icon"><i class="fa fa-angle-double-down"></i></span></a>
            <div class="accordion-content">{{ product.description }}</div>
            <!--/.accordion-content-->
          </div>
          <!--/.accordion-container-->
          <div class="accordion-container">
            <a href="#" class="accordion-toggle">Shipping <span class="toggle-icon"><i class="fa fa-angle-double-down"></i></span></a>
            <div class="accordion-content">FREE shipping to Canada and US on orders over {{ 4900| money }}.* <br><br>
              In stock items are processed and shipped within 1-2 business days. If your order contains out of stock items, your order will ship in full once all items are available. <br><br>
            For more information about shipping, <a href="/pages/shipping-returns">click here</a>.</div>
            <!--/.accordion-content-->
          </div>
          <!--/.accordion-container-->
          <div class="accordion-container">
            <a href="#" class="accordion-toggle">Returns <span class="toggle-icon"><i class="fa fa-angle-double-down"></i></span></a>
            <div class="accordion-content">If your jewels don't make you say "olive it," you can return them for a refund or credit within 30 days of the ship date. Sale items, personalized items and sunglasses are a FINAL SALE and cannot be returned.<br><br>
              *Orders placed during our Black Friday and Cyber Monday sale are a <b>FINAL SALE</b>.<br><br>
            For more info on our return policy, <a href="/pages/shipping-returns">click here</a>.</div>
            <!--/.accordion-content-->
          </div>
          <!--/.accordion-container-->
      </div>
      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}
      {% endcomment %}
  </div>
</div>
{% include 'related-products' %}
{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.
  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability
  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{% include 'currencies' %}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };
  jQuery(function($) {
var freegifts_product_json=function(a){if(a){String.prototype.endsWith||Object.defineProperty(String.prototype,"endsWith",{value:function(a,b){var c=this.toString();(void 0===b||b>c.length)&&(b=c.length),b-=a.length;var d=c.indexOf(a,b);return-1!==d&&d===b}});for(var b=function(a){for(var b in a)if(a.hasOwnProperty(b))return!1;return!0},c=a.price,d=a.price_max,e=a.price_min,f=a.compare_at_price,g=a.compare_at_price_max,h=a.compare_at_price_min,i=0;i<a.variants.length;i++){var j=a.variants[i],k=null!==j.option3?j.option3:null!==j.option2?j.option2:j.option1;"undefined"!=typeof SECOMAPP&&"undefined"!=typeof SECOMAPP.gifts_list_avai&&!b(SECOMAPP.gifts_list_avai)&&"undefined"!=typeof SECOMAPP.gifts_list_avai[j.id]||k.endsWith("(Freegifts)")||k.endsWith("% off)")?(a.variants.splice(i,1),i-=1):(d>=j.price&&(d=j.price,c=j.price),e<=j.price&&(e=j.price),j.compare_at_price&&(g>=j.compare_at_price&&(g=j.compare_at_price,f=j.compare_at_price),h<=j.compare_at_price&&(h=j.compare_at_price)),1==j.available&&(a.available=!0))}a.price=c,a.price_max=e,a.price_min=d,a.compare_at_price=f,a.compare_at_price_max=h,a.compare_at_price_min=g,a.price_varies=e>d?!0:!1,a.compare_at_price_varies=h>g?!0:!1}return a};
var sca_product_info = freegifts_product_json ({{ product | json }});
    new Shopify.OptionSelectors('productSelect', {
      product:sca_product_info,
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}
    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    if(sca_product_info.variants.length===1 && sca_product_info.variants[0].title.indexOf('Default')!==-1 ){
      $('.single-option-selector:eq(0)').hide();
      $('.selector-wrapper').hide();
    }
  });
</script>
{% comment %}
  Script for Product Description accordion
{% endcomment %}
<script type="text/javascript">
$(document).ready(function () {
    $('.accordion-toggle').on('click', function(event){
      event.preventDefault();
      // create accordion variables
      var accordion = $(this);
      var accordionContent = accordion.next('.accordion-content');
      var accordionToggleIcon = $(this).children('.toggle-icon');
      
      // toggle accordion link open class
      accordion.toggleClass("open");
      // toggle accordion content
      accordionContent.slideToggle(250);
      
      // change plus/minus icon
      if (accordion.hasClass("open")) {
        accordionToggleIcon.html("<i class='fa fa-angle-double-up'></i>");
      } else {
        accordionToggleIcon.html("<i class='fa fa-angle-double-down'></i>");
      }
    });
    $("#section1").click();
});
</script>
{% comment %}
  Fancy Box HELP Box
{% endcomment %}
<script type="text/javascript">
$(document).ready(function() {
  $(".fancybox").fancybox({
    fitToView : false,
    width   : '60%',
    height    : '65%',
    maxWidth: '600px',
    maxHeight: '400px',
    autoSize  : false,
    closeBtn  : true,
    helpers : {
          title : {
            type : 'inside'
          },
          overlay : {
            css : {
              'background' : 'rgba(238,238,238,0.85)'
            }
          }
        }
  });
});
</script><!-- SnappicSnipStart -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '1518147518258695');
fbq('track', 'PageView');
fbq('track', 'ViewContent', { content_ids: ['snappic_{{product.id}}'], content_type: 'product' });
</script>
<noscript>
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1518147518258695&ev=PageView&noscript=1" />
</noscript>
<!-- SnappicSnipEnd -->