{% if settings.popup-newsletter-image != blank %}

{% capture popup_image %}
<div class="popup--image">
	{% include 'responsive-image' with settings.popup-newsletter-image, blur: false %}
</div>
{% endcapture %}
{% else %}
{% assign popup_image = '' %}
{% endif %}

{% capture popup_inner %}
	<div class="container-fluid">
		<a class="popup--close-btn">
			<span>
				<i data-feather="x"></i>
			</span>
		</a>

		<div class="row">
			<div class="popup--inner-flex">
				<div class="{% if settings.popup-newsletter-image != blank %}popup__text-wrapper--has-image{% else %}popup__text-wrapper--no-image{% endif %}">

					<div class="popup--inner">
						{% if settings.pop-up-text-header-text != empty %}
						<span class="popup--subheader">{{ settings.pop-up-text-header-text }}</span>
						{% endif %}
						{% if settings.pop-up-text-description-text != empty %}
						<div class="popup--main-text custom-font">{{ settings.pop-up-text-description-text }}</div>
						{% endif %}
						{% if settings.popup--show-newsletter %}
						<div id="subs-container" class="clearfix">
							<div id="mc_embed_signup">
								{% include 'newsletter-form' %}
							</div>
						</div>
						{% endif %}

						{% if settings.popup--show-social-icons %}
						{% include 'social-links' %}
						{% endif %}
					</div>
				</div>

				{% if settings.popup-newsletter-image != blank %}
				<div class="popup--image-wrapper">
					{{ popup_image }}
				</div>
				{% endif %}

			</div>
		</div>
	</div>
{% endcapture %}

<div id="popup" class="popup--outer" data-enabled="{% if settings.popup--enable %}true{% else %}false{% endif %}" data-desktop-style="{{ settings.desktop-popup-style }}" data-pop-up-time="{{ settings.pop-up-time }}" data-popup-delay="{{ settings.popup-delay }}">

	<!-- full width pop up -->
	<div class="container popup-container" id="fullscreen" style="display:none;">
		<div class="row">
			<div class="col-md-12 no--padding">
						{{ popup_inner }}
			</div>
		</div>
	</div>

	<!-- slide pop up -->
	<div class="container popup-container" id="slide-up" style="display:none;">
		<div class="row">
			<div class="col-md-12 no--padding">
					<input type="hidden" id="pop-up-time" value="{{ settings.pop-up-time }}" />
						{{ popup_inner }}
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	(function ($) {
		document.addEventListener('DOMContentLoaded', load_popup);
		document.addEventListener('shopify:section:load', load_popup);
		$(window).on('resize', function() {
			var popup = document.querySelector('#popup');
			if (!popup) {
				return;
			}
			var isFullscreen = $.fancybox.isOpen;
			if ($(window).width() < 1200) {
			  if (isFullscreen) {
                // switch from fullscreen to slide-up
                $.fancybox.close();
                showSlideUpPopup();
              }
            } else {
              if (popup.classList.contains('visible') && popup.dataset.desktopStyle === 'fullscreen') {
	            popup.classList.remove('visible');
	            showFullScreenPopup();
	          }
	          if (isFullscreen) {
	            $.fancybox.reposition();
	          }
            }
            fixedCloseIcon();
        });

        function fixedCloseIcon(auto) {
        	if(auto === undefined) {
		      auto = false;
		    }
		  	$(".popup--close-btn").css('opacity', '0');
        	if (auto == false) {
        		var popupwidth = $(".popup--inner .container-fluid").innerWidth();
        		var iconwidth = $(".popup--close-btn").innerWidth();
        		var right = 15;
        		var isFullscreen = $.fancybox.isOpen;
        		if (isFullscreen) {
        			popupwidth = $(".fancybox-wrap").innerWidth();
        			right = 30;
        		}
        		if (popupwidth < 1) {
        			setTimeout(fixedCloseIcon, 200);
        			return;
        		}
        		if ($(window).width() > 767) {
			  		$(".popup--close-btn").css('margin-left', (popupwidth - iconwidth) - right);
			  	}
			  	else {
					$(".popup--close-btn").css('margin-left', 'initial');
			  	}
		  	}
		  	else {
		  		$(".popup--close-btn").css('margin-left', 'initial');
		  	}
		  	$(".popup--close-btn").css('opacity', '1');
		}

		function load_popup() {
			var width = $(window).width();
			if (width === 0) {
			// Iframe (in theme editor) is not yet loaded, wait for it to get some width
			setTimeout(load_popup, 100);
			return;
		}
		if (window.location.pathname === '/challenge') {
			// Don't show popup when we're filling CAPTCHA for contact form
			return;
		}

		var show_popup = false;
		var popup = document.querySelector('#popup');
		if (!popup) {
			// Popup disabled
			return;
		}
		var pop_up_time = parseInt(popup.dataset.popUpTime, 10);
		var pop_up_style = popup.dataset.desktopStyle;
		var pop_up_delay = parseInt(popup.dataset.popupDelay, 10);
		var has_popup_cookie = Cookies.get('popup-cookie') === 'true';

		if (popup.dataset.enabled !== 'true') {
			show_popup = false;
		} else if ("{{ settings.popup--test-mode }}" == "true") {
			// popup is shown every time
			show_popup = true;
		} else if (!has_popup_cookie) {
			// popup cookie is not set, show popup this time
			show_popup = true;
			Cookies.set('popup-cookie', 'true', {expires: pop_up_time});
		}
		$('.popup--close-btn').on('click', function () {
			document.querySelector('#popup').classList.remove('visible');
		});
		if (show_popup) {
			showPopup(pop_up_style, pop_up_delay);
		}
		$('.popup--close-btn').on('click', function () {
			if($.fancybox.isOpen) {
				$.fancybox.close();
			}
		});
	}

	function showPopup(pop_up_style, pop_up_delay) {
		if ($(window).width() < 1200){
			setTimeout(showSlideUpPopup, 1000 * pop_up_delay);
		} else {
			if (pop_up_style === "fullscreen"){
				setTimeout(showFullScreenPopup, 1000 * pop_up_delay);
			} else {
				setTimeout(showSlideUpPopup, 1000 * pop_up_delay);
			}
		}
	}

	function showSlideUpPopup(){
		var popup = document.querySelector('#popup');
		if (popup) {
			popup.querySelector('#slide-up').removeAttribute("style");
			popup.classList.add('slide-up');
			popup.classList.add('visible');
			fixedCloseIcon();
		}
	}

	function showFullScreenPopup(){
		var popup = document.querySelector('#popup');
		if (popup) {
			popup.classList.add('fullscreen');
			popup.querySelector('#fullscreen').removeAttribute("style");

			$.fancybox({
				'autoScale': true,
				'transitionIn': 'elastic',
				'transitionOut': 'elastic',
				'speedIn': 500,
				'speedOut': 300,
				'autoDimensions': true,
				'centerOnScroll': true,
				'href': '#popup #fullscreen',
				afterLoad: function( instance, slide ) {
					fixedCloseIcon();
				},
				tpl: {
					closeBtn: ''
				}
			});
		}
	}
})(window.wetheme.$);
</script>
