<ul class="nav {{ class }}">
  {% for link in linklists[site-nav].links %}
    {% if link.links != blank %}

      <li class="dropdown" aria-haspopup="true">
        <a class="dropdown-envy-toggle" data-delay="200" href="{{ link.url }}">
          <span class="nav-label">{{ link.title | escape }}</span><span class="caret" aria-hidden="true"></span>
        </a>

        <ul class="dropdown-menu">

            {% for sub_link in link.links %}
              {% if sub_link.levels > 0 %}
                <li class="dropdown-submenu" aria-haspopup="true">
                  <a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                  <ul class="dropdown-menu">
                    {% for sub_sub_link in sub_link.links %}
                      <li>
                        <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                </li>
              {% endif %}
            {% endfor %}

        </ul>
      </li>

    {% else %}

      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>

    {% endif %}

  {% endfor %}
</ul>
